.form-container{
  background-color: #daf9cd;
  margin:0 auto;
  width: 40%;
}
.form-title{
  background-color: #9ab95e;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-weight: bold;
}
.form{
  padding:10px 5px;
}
.font-sm{
  font-size: 11px;
}
.btn-submit{
  background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
  color: white;
  border: 0.5px solid #8ab66b;
  margin: 0 auto;
  display: block;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
}

textarea{
  width: 98%;
  resize: vertical;
}
label {
  display: inline-block;
  width: 44%;
  text-align: left;
}​