.fixed-height{
  width: 60%;
  padding:10px 10px;
  height: 100px;
  overflow-y: scroll;
  border: 1px solid black;
  margin:0 auto;
}
.none{
  list-style-type: none;
}

ul.inline{
  display: inline;
}
label{
  display: inline-block;
}
.panel-heading{
  display: block;
  background: #f2f5f2;
  border-radius: 1px;
  padding:10px 10px;
}

.hide-li{
  display: none;
}

.hide{
  display: none;
}
.show-li{
  display: inline;
}
