.mid{
  margin:50px 200px;
  width: 60%;
  border:1px solid black;
  padding: 15px 20px;
  float: left;
}
.select{
  width: 100%;
}
.sel{
  width: 40%;
}
.boxwrapper{
  display: inline-block;
}
#mid{
  width: 20%;
}
.floating-box {
  float: left;
  width: 36%;
  height: 75px;
  margin: 10px;
}
.floating-mid {
  float: left;
  width: 20%;
  height: 75px;
  margin: 10px;
}
.form{
  width: 100%;
}
.after-box {
  clear: left;
  border: 3px solid red;
}
.btn{
  width: 100%;
  background-color: #fb7b0d;
  color: white;
  border: 1px solid #9e550a;
  border-radius: 4px;
  height: 30px;
}